/** Global Styling **/
* {
    box-sizing: border-box;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

.clearfix {
    clear: both;
}

.no-focus {
    outline: none;
}

.focusable:focus {
    outline: #5b9dd9 solid 2px;
}

/** Main Styling (for 1080p) **/
.body {
    font-family: Arial;

    -webkit-text-size-adjust: 100%;
}

.header {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2460px;
}

.header__logo {
    padding: 60px 10px 20px 10px;
    max-width: 100%;
}

.header__text {
    padding-top: 15px;
    padding-bottom: 20px;
}

.header__lowbandwidth {
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.social__icon {
    display: inline-block;
}

.social--top {
    position: absolute;
    top: 0;
    right: 0;
}

.social--top-left {
    right: auto;
    left: 0;
    padding: 20px 8px 0 0;
}

.fullscreen .social--top-left {
    left: 8%;
}

.social--top-right {
    right: 0;
    left: auto;
    padding: 20px 0 0 8px;
}

.fullscreen .social--top-right {
    right: 3%;
}

.social--collapsed {
    top: -8px;
}

.social--top-left.social--collapsed,
.social--top-right.social--collapsed {
    padding: 0;
}

.social--collapsed .social__icon {
    display: none;
}

.social--top .social__icon--collapse {
    display: inline-block;
}

.social--top-right .social__icon--collapse {
    margin-left: 5px;
}

.social--top-left .social__icon--collapse {
    margin-right: 5px;
}

.social--top .social__icon--expand {
    display: none;
    margin-right: 0;
    margin-left: 0;
}

.social--bottom {
    padding: 30px 0 25px 0;
}

.social--bottom {
    display: none;
}

.main {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 2460px;
}

.fullscreen .main {
    height: 100%;
    width: calc(100vh * 16/9);
}

.fullscreen.less-16-9 .main {
    margin-top: calc((100vh - (100vw * 9/16)) / 2);
    height: calc(100vw * 9/16);
    width: 100%;
}

.cta--side {
    float: left;
    width: 270px;
    min-height: 1px;
}

.fullscreen .cta--side {
    width: 5%;
    height: 95%;
    position: relative;
    float: left;
}

.cta--bottom {
    display: none;
}

.cta__button {
    padding: 0;
}

.cta--side .cta__button {
    width: 100%;
}

.fullscreen .cta--side .cta__button {
    position: relative;
    z-index: 1;
    border: 0;
}

.cta--side.cta--1 .cta__button {
    height: 1080px;
}

.fullscreen .cta--side.cta--1 .cta__button {
    height: 100%;
}

.cta--side.cta--2 .cta__button {
    margin-bottom: 4px;
    height: 538px;
}

.fullscreen .cta--side.cta--2 .cta__button {
    margin-bottom: 4px;
    height: calc(50% - 2px);
}

.cta--side.cta--3 .cta__button {
    margin-bottom: 3px;
    height: 358px;
}

.fullscreen .cta--side.cta--3 .cta__button {
    margin-bottom: 3px;
    height: calc(33.333% - 1px);
}

.cta--side.cta--4 .cta__button {
    margin-bottom: 4px;
    height: 267px;
}

.fullscreen .cta--side.cta--4 .cta__button {
    margin-bottom: 4px;
    height: calc(25% - 2px);
}

.cta--side.cta--5 .cta__button {
    margin-bottom: 5px;
    height: 212px;
}

.fullscreen .cta--side.cta--5 .cta__button {
    margin-bottom: 5px;
    height: calc(20% - 3px);
}

.cta--side.cta--1 .cta__button.cta__button--button-1,
.cta--side.cta--2 .cta__button.cta__button--button-2,
.cta--side.cta--3 .cta__button.cta__button--button-3,
.cta--side.cta--4 .cta__button.cta__button--button-4,
.cta--side.cta--5 .cta__button.cta__button--button-5 {
    margin-bottom: 0;
}

.cta--bottom .cta__button {
    height: 70px;
}

.player {
    float: left;
}

.fullscreen .player {
    width: 95%;
    height: 95%;
    margin: 0;
}

.player__wrapper {
    width: 1920px;
    height: 1080px;
}

.fullscreen .player__wrapper {
    width: 100%;
    height: 100%;
}

.player__iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.player__splash {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.promo--side {
    float: left;
    /* width: 270px; */
    width: 540px;
}

.fullscreen .promo--side {
    display: none;
}

.promo--bottom {
    display: none;
}

.promo--side .promo__item {
    width: 100%;
    height: 536px;
}

.promo--side .promo__item--top {
    margin-bottom: 8px;
}

.promo--bottom .promo__item {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
    height: 155px;
}

.promo--bottom .promo__item--bottom {
    margin-bottom: 25px;
}

.promo__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.timeline {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
}

.timeline__cover {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    cursor: not-allowed;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
        filter: alpha(opacity=30); /* IE5-7 */
      -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

.timeline,
.timeline__controls {
    height: 80px;
}

.fullscreen .timeline {
    height: 5%;
    width: 100%;
    z-index: 2;
}

.fullscreen .timeline__controls {
    height: 100%;
}

.timeline__controls {
    position: relative;
    float: left;
}

.timeline__controls--left {
    width: 335px;
    border-right: 5px solid;
}

.fullscreen .timeline__controls--left {
    width: 10%;
    border-right: 5px solid;
}

.timeline__controls--center {
    position: relative;
    width: 1720px;
}

.fullscreen .timeline__controls--center {
    width: 75%;
    position: relative;
}

.timeline--no-volume .timeline__controls--center {
    width: 1790px;
}

.fullscreen .timeline--no-volume .timeline__controls--center {
    width: 81%;
}

.timeline__controls--active-state {
    display: none;
}

.timeline__controls--right {
    width: 405px;
    border-left: 5px solid;
}

.fullscreen .timeline__controls--right {
    width: 15%;
    border-left: 5px solid;
}

.timeline--no-volume .timeline__controls--right {
    width: 335px;
    text-align: center;
}

.fullscreen .timeline--no-volume .timeline__controls--right {
    width: 9%;
}

.timeline__button {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

.fullscreen .timeline__button {
    margin: 0;
    height: 100%;
}

.timeline--no-volume .timeline__controls--right .timeline__button {
    float: none;
}

.timeline-buffering {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.fullscreen .timeline-buffering {
    height: 6px;
}

.timeline__buffer-section {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
}

.timeline__buffer-section-inner {
    width: 0;
    height: 100%;
}

.timeline-progress-hover,
.timeline-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.timeline-progress-hover {
    z-index: 10;
}

.timeline-progress {
    z-index: 20;
}

.timeline-progress-indicator,
.timeline-progress-indicator-ball {
    z-index: 40;
    display: none;
}

.timeline-chapters {
    position: relative;
    z-index: 30;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

.fullscreen .timeline-chapters {
    line-height: 5vh;
}

.fullscreen.less-16-9 .timeline-chapters {
    line-height: calc(5vw * 9/16);
}

.timeline-contrast {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
}

.timeline-chapters__chapter,
.timeline-active-state__label {
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}

.timeline-chapters__chapter {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    height: 100%;
    cursor: pointer;
}

.timeline-active-state__label {
    margin-top: 10px;
    height: calc(100% - 10px);
    line-height: 40px;
    text-align: center;
}

.timeline-volume {
    z-index: 1;
    float: left;
    width: 235px;
    height: 100%;
}

.timeline--no-volume .timeline-volume,
.timeline--no-volume .timeline__button--volume {
    display: none;
}

.fullscreen .timeline-volume {
    width: calc(100% - 165px);
}

.timeline__controls--right-no-fs .timeline-volume {
    width: 275px;
}

.timeline-volume div {
    cursor: pointer;
}

.timeline-volume__bg {
    margin-top: 35px;
    width: 100%;
    height: 10px;
}

.fullscreen .timeline-volume__bg {
    margin-top: calc(2.5vh - 5px);
}

.fullscreen.less-16-9 .timeline-volume__bg {
    margin-top: calc((2.5vw * 9/16) - 5px);
}

.timeline-volume__container {
    position: relative;
    width: 227px;
}

.fullscreen .timeline-volume__container {
    width: calc(100% - 10px);
}

.timeline__controls--right-no-fs .timeline-volume__container {
    width: 267px;
}

.timeline-volume__level {
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 0;
    padding-left: 10px;
    width: 50%;
    height: 10px;
}

.timeline-volume__ball {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 20px;
}

.timeline__settings {
    display: inline-block;
    text-align: left;
}

.timeline__settings-popout,
.timeline__settings-language,
.timeline__settings-cc,
.timeline__settings-quality {
    display: none;
}

.chapter-button {
    display: inline-block;
}

.footer {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 2460px;
}

.footer__pblogo {
    margin-right: 10px;
    width: 140px;
    height: 35px;
    vertical-align: middle;
}

.footer__poweredby-break {
    display: none;
}

.footer__copyright {
    float: left;
    width: 33%;
}

.footer__links {
    float: right;
    width: 33%;
}

.footer__copyright,
.footer__links {
    position: relative;
    top: -28px;
}

/** 720p **/
@media screen and (max-width: 2460px) {
    .header,
    .main,
    .footer {
        width: 1640px;
    }

    .cta--side,
    .promo--side {
        /* width: 180px; wide screen*/
        width: 360px;
    }

    .cta--side.cta--1 .cta__button {
        height: 720px;
    }

    .cta--side.cta--2 .cta__button {
        height: 358px;
    }

    .cta--side.cta--3 .cta__button {
        height: 238px;
    }

    .cta--side.cta--4 .cta__button {
        height: 177px;
    }

    .cta--side.cta--5 .cta__button {
        height: 140px;
    }

    .promo--side .promo__item {
        height: 358px;
    }

    .promo--side .promo__item--top {
        margin-bottom: 4px;
    }

    .player__wrapper {
        width: 1280px;
        height: 720px;
    }

    .timeline,
    .timeline__controls {
        height: 60px;
    }

    .timeline-chapters {
        line-height: 60px;
    }

    .timeline__controls--left {
        width: 225px;
    }

    .timeline__controls--center {
        width: 1145px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 1190px;
    }

    .timeline__controls--right {
        width: 270px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 225px;
    }

    .timeline-volume {
        width: 100px;
    }

    .timeline-volume__bg {
        margin-top: 25px;
    }

    .timeline-volume__container {
        width: 92px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 9px);
    }

    .timeline-volume__level {
        padding-left: 9px;
    }

    .timeline-volume__ball {
        top: -4px;
        right: -9px;
        width: 18px;
        height: 18px;
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 140px;
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 132px;
    }
}

/** 540p **/
@media screen and (max-width: 1640px) {
    .header,
    .main,
    .footer {
        width: 1230px;
    }

    .header__logo {
        /* padding: 40px 10px 10px 10px; */
        padding: 0px 10px 10px 10px;
    }

    .cta--side,
    .promo--side {
        /*width: 135px;*/
        width: 270px;
    }

    .cta--side.cta--1 .cta__button {
        height: 540px;
    }

    .cta--side.cta--2 .cta__button {
        height: 268px;
    }

    .cta--side.cta--3 .cta__button {
        height: 178px;
    }

    .cta--side.cta--4 .cta__button {
        height: 132px;
    }

    .cta--side.cta--5 .cta__button {
        height: 104px;
    }

    .promo--side .promo__item {
        height: 268px;
    }

    .player__wrapper {
        width: 960px;
        height: 540px;
    }

    .timeline__controls--left {
        width: 170px;
    }

    .timeline__controls--center {
        width: 855px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 890px;
    }

    .timeline__controls--right {
        width: 205px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 170px;
    }

    .timeline-volume {
        width: 70px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 130px);
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 100px;
    }

    .timeline-volume__bg {
        margin-top: 26px;
        height: 8px;
    }

    .fullscreen .timeline-volume__bg {
        margin-top: calc(2.5vh - 4px);
    }

    .fullscreen.less-16-9 .timeline-volume__bg {
        margin-top: calc((2.5vw * 9/16) - 4px);
    }

    .timeline-volume__container {
        width: 62px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 8px);
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 92px;
    }

    .timeline-volume__level {
        top: -8px;
        padding-left: 8px;
        height: 8px;
    }

    .timeline-volume__ball {
        right: -8px;
        width: 16px;
        height: 16px;
    }
}

/** 360p **/
@media screen and (max-width: 1230px) {
    .header,
    .main,
    .footer {
        width: 820px;
    }

    .header__logo {
       /* padding: 20px 10px 0 10px; */
      padding: 0px 10px 0 10px;
    }

    .social--top-left {
        padding: 10px 8px 0 0;
    }

    .social--top-right {
        padding: 10px 0 0 8px;
    }

    .cta--side,
    .promo--side {
        /*width: 90px;*/
        width: 179px;
    }

    .cta--side.cta--1 .cta__button {
        height: 360px;
    }

    .cta--side.cta--2 .cta__button {
        height: 178px;
    }

    .cta--side.cta--3 .cta__button {
        height: 118px;
    }

    .cta--side.cta--4 .cta__button {
        height: 87px;
    }

    .cta--side.cta--5 .cta__button {
        height: 68px;
    }

    .promo--side .promo__item {
        height: 178px;
    }

    .player__wrapper {
        width: 640px;
        height: 360px;
    }

    .timeline,
    .timeline__controls {
        height: 50px;
    }

    .timeline__controls--left {
        width: 115px;
    }

    .timeline__controls--center {
        width: 500px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 590px;
    }

    .timeline__controls--right {
        width: 205px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 115px;
    }

    .fullscreen .timeline-buffering {
        height: 4px;
    }

    .timeline-chapters {
        line-height: 50px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 100px);
    }

    .timeline-volume__bg {
        margin-top: 21px;
    }

    .fullscreen .timeline-volume__level {
        padding-left: 7px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 7px);
    }

    .fullscreen .timeline-volume__ball {
        top: -3px;
        right: -7px;
        width: 14px;
        height: 14px;
    }

    .footer {
        padding-top: 20px;
    }

    .footer__copyright,
    .footer__links {
        top: -17px;
    }

    .footer__copyright,
    .footer__poweredby,
    .footer__links {
        font-size: 10px;
    }

    .footer__pblogo {
        width: 100px;
        height: 25px;
    }
}

/** Mobile devices **/
@media screen and (max-width: 820px) {
    .header,
    .main,
    .footer {
        position: relative;
        width: 100%;
    }

    .social--top {
        display: none;
    }

    .fullscreen .social--top {
        display: block;
    }

    .social--bottom {
        display: block;
    }

    .promo--side {
        display: none;
    }

    .promo--bottom {
        display: block;
    }

    .player__wrapper {
        position: relative;
        padding-top: 56.25%; /* 9/16 = 0.5625 */
        width: 100%;
        height: 0;
    }

    .player__iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timeline {
        float: right;
    }

    .timeline,
    .timeline__controls {
        height: 51px;
    }

    .timeline__controls {
        border: 0;
    }

    .timeline__controls--left {
        width: 22%;
    }

    .timeline__controls--center {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 100%;
    }

    .timeline__button {
        margin-top: 10px;
        height: calc(100% - 10px);
    }

    .timeline-buffering {
        height: 10px;
    }

    .timeline-progress-hover,
    .timeline-chapters__chapter > .timeline-chapters__label {
        display: none;
    }

    .fullscreen .timeline-progress-hover,
    .fullscreen .timeline-chapters__chapter > .timeline-chapters__label {
        display: block;
    }

    .timeline-progress-indicator {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 10px;
        pointer-events: none;
    }

    .timeline-progress-indicator-ball {
        position: absolute;
        top: -6px;
        right: -11px;
        width: 22px;
        height: 22px;
    }

    .fullscreen .timeline-progress-indicator,
    .fullscreen .timeline-progress-indicator-ball {
        display: none;
    }

    .timeline__controls--active-state {
        display: block;
        width: 68%;
    }

    .fullscreen .timeline__controls--active-state {
        display: none;
    }

    .timeline__controls--right,
    .timeline--no-volume .timeline__controls--right {
        width: 10%;
    }

    .fullscreen .timeline__controls--right {
        text-align: center;
    }

    .timeline--no-volume .timeline__controls--right .timeline__button {
        float: left;
    }

    .timeline-volume,
    .timeline__button--volume,
    .timeline__button--fullscreen {
        display: none;
    }

    .fullscreen .timeline__button--settings,
    .fullscreen .timeline__button--fullscreen {
        display: inline-block;
        float: none;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer__copyright,
    .footer__poweredby,
    .footer__links {
        top: 0;
        float: none;
        margin-bottom: 8px;
        padding-top: 8px;
        width: 100%;
        font-size: 12px;
    }

    .footer__poweredby-break {
        display: none;
    }

    .footer__pblogo {
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

/** Mobile devices in landscape and tablets in portrait **/
@media screen and (max-width: 820px) {
    .cta--side {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .fullscreen .cta--side.cta--2,
    .fullscreen .cta--side.cta--3,
    .fullscreen .cta--side.cta--4,
    .fullscreen .cta--side.cta--5 {
        height: 95%;
    }

    .cta--side.cta--2 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--3 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--4 {
        height: calc(100% + 2px);
    }

    .cta--side.cta--5 {
        height: calc(100% + 3px);
    }

    .cta--side.cta--1 .cta__button {
        margin-bottom: 0;
        height: 100%;
    }

    .cta--side.cta--2 .cta__button {
        margin-bottom: 0;
        height: 50%;
    }

    .cta--side.cta--3 .cta__button {
        margin-bottom: 0;
        height: 33.333%;
    }

    .cta--side.cta--4 .cta__button {
        margin-bottom: 0;
        height: 25%;
    }

    .cta--side.cta--5 .cta__button {
        margin-bottom: 0;
        height: 20%;
    }

    .player {
        margin-left: 90px;
        width: calc(100% - 90px);
    }

    .timeline {
        width: calc(100% - 90px);
    }
}

/** Tablets in portrait **/
@media screen and (max-width: 820px) and (orientation: portrait) {
    .player {
        width: calc(100% - 89px); /* Increase the player width by 1px, to fix the iPad white line issue */
    }
}

/** Mobile devices in portrait **/
@media screen and (max-width: 700px) and (orientation: portrait) {
    .cta--side {
        display: none;
    }

    .fullscreen .cta--side {
        display: block;
    }

    .cta--bottom {
        display: block;
    }

    .cta--bottom .cta__button {
        float: left;
    }

    .cta--bottom.cta--1 .cta__button {
        width: 100%;
    }

    .cta--bottom.cta--2 .cta__button {
        width: 50%;
    }

    .cta--bottom.cta--3 .cta__button {
        width: 33.333%;
    }

    .cta--bottom.cta--4 .cta__button {
        width: 25%;
    }

    .cta--bottom.cta--5 .cta__button {
        width: 20%;
    }

    .player {
        margin: 0;
        width: 100%;
    }

    .timeline {
        width: 100%;
    }

    .promo--bottom .promo__item {
        width: 300px;
        height: 116px;
    }
}

/** Smaller mobile devices **/
@media screen and (max-width: 420px) {
    .footer__pblogo {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .footer__poweredby-break {
        display: block;
    }
}

/** Windows Phone **/
@-ms-viewport {
    width: device-width;
}
